body {
    padding: 2rem;
    background-color:rgb(198, 241, 227);
}

body * {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

input {
    border: none;
}

h1 {
    text-align: center;
}

li {
    padding: 1rem 0;
}